# Environment
.env
.env.local
.venv/
venv/

# Django
staticfiles/
*.sqlite3
db.sqlite3
__pycache__/
*.py[cod]
*$py.class

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
